@import url(menu.css);
@import url(estilos.css);
@import url(indexresponsive.css);
@import url(estilotips.css);
@import url(estilocuidados.css);
@import url(estilomantenimiento.css);

/*font-family: 'Luckiest Guy', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Lato', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Boogaloo', cursive;
font-family: 'Fredoka One', cursive;*/




@media (min-width:320px)
{
    #con3
    {
        margin-top: 25px;
    }
}