@import url(menu.css);
@import url(estilos.css);
@import url(estilotips.css);
@import url(estilodise%C3%B1o.css);
@import url(estilomantenimiento.css);


/*font-family: 'Luckiest Guy', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Lato', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Boogaloo', cursive;
font-family: 'Fredoka One', cursive;*/


@media (min-width:320px)
{
    #idea
    {
        text-align: justify;
        font-size: 17px;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 5%;
        padding-bottom: 7%;
        line-height: 30px;
        font-family: 'Cabin', sans-serif;
    }
    
    #con2 img
    {
        height: 180px;
    }
    
    #con3
    {
        margin-top: 25px;
    }
    
    #con1 p, #con2 p, #con3 p
    {
        margin-bottom: 25px;
        line-height: 32px;
        font-family: 'Cabin', sans-serif;
    }
}


@media (min-width:720px)
{
    #idea
    {
        text-align: center;
        font-size: 20px;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 5%;
        padding-bottom: 7%;
        line-height: 35px;
        font-family: 'Cabin', sans-serif;
    }
    
    #con2 img
    {
        height: 180px;
    }
    
    #con3
    {
        margin-top: 25px;
    }
    
    #con1 p, #con2 p, #con3 p
    {
        margin-bottom: 25px;
        line-height: 32px;
        font-family: 'Cabin', sans-serif;
    }
}









@media (min-width:1000px)
{
    #idea
    {
        text-align: center;
        font-size: 23px;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 5%;
        padding-bottom: 5%;
        line-height: 40px;
        font-family: 'Cabin', sans-serif;
    }
    
    #con2 img
    {
        height: 180px;
    }
    
    #con3
    {
        margin-top: 25px;
    }
    
    #con1 p, #con2 p, #con3 p
    {
        margin-bottom: 25px;
        line-height: 32px;
        font-family: 'Cabin', sans-serif;
    }
}