@import url(menu.css);
@import url(estilos.css);
@import url(footer.css);


/*font-family: 'Luckiest Guy', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Lato', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Boogaloo', cursive;
font-family: 'Fredoka One', cursive;*/



/*este es todo el tips*/


@media (min-width:320px)
{
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body
    {
        font-family: sans-serif;
    }

    /*    desde aqui es para tips*/

    .conten
    {
        margin-top: 60px;
        padding-top: 20px;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .conten .contenedor
    {
        width: 95%;
        background: white;
    }

    .todo
    {
        height: auto;
        background: blue;

        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .todo article
    {
        width: 100%;
        height: auto;
        text-align: center;
        border: 1px solid green;
        border-radius: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo article:hover
    {
        box-shadow: 0 0 25px black;
        width: 100%;
        height: auto;
    }

    .consejos
    {
        height: auto;
        padding-left: 5%;
        padding-right: 5%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .consejos h2
    {
        font-size: 180%;
        color: #146E14;
        font-family: 'Lato', sans-serif;
        margin-bottom: 20px;
    }

    .consejos p
    {
        text-align: justify;
        font-size: 110%;
        line-height: 30px;
        font-family: 'Cabin', sans-serif;
    }

    .consejos a
    {
        width: 130px;
        margin-top: 20px;
        font-size: 115%;
        color: white;
        background: black;
        padding: 10px;
        border: 1px solid green;
        border-radius: 15px;
        text-decoration: none;
    }
}



















/* cambios pequeños para que alcance a
verse compacto la pagina */



















@media (min-width:410px)
{
    .todo
    {
        padding-left: 5%;
        padding-right: 5%;
    }
}









@media (min-width:540px)
{
    .todo
    {
        padding-left: 10%;
        padding-right: 10%;
    }
}









@media (min-width:620px)
{
    .consejos h2
    {
        font-size: 220%;
    }

    .consejos p
    {
        text-align: justify;
        font-size: 130%;
    }
}











@media (min-width:750px)
{
    .conten
    {
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo
    {
        height: auto;
        width: 500px;
        padding-left: 0%;
        padding-right: 0%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        flex-direction: row;
    }

    .todo article
    {
        width: 48%;
        height: auto;
        text-align: center;
        border: 1px solid green;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo article:hover
    {
        box-shadow: 0 0 25px black;
        width: 48%;
        height: auto;
    }

    .consejos h2
    {
        font-size: 200%;
    }

    .consejos p
    {
        text-align: justify;
        font-size: 120%;
    }

    .conten .contenedor
    {
        width: 90%;
        background: white;
    }
}












@media (min-width:850px)
{
    .conten
    {
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo
    {
        height: auto;
        padding-left: 5%;
        padding-right: 5%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        flex-direction: row;
    }

    .todo article
    {
        width: 48%;
        height: auto;
        text-align: center;
        border: 1px solid green;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .consejos h2
    {
        font-size: 200%;
    }

    .consejos p
    {
        text-align: justify;
        font-size: 120%;
    }
}





































@media (min-width:1000px)
{
    .conten
    {
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo
    {
        height: auto;
        padding-left: 0%;
        padding-right: 0%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        flex-direction: row;
        width: 80%;
    }

    .todo article
    {
        width: 40%;
        height: auto;
        text-align: center;
        border: 1px solid green;
        border-radius: 15px;
        margin-bottom: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo article:hover
    {
        box-shadow: 0 0 25px black;
        width: 42%;
        height: auto;
    }

    .consejos
    {
        height: auto;
    }

    .consejos h2
    {
        font-size: 200%;
    }

    .consejos p
    {
        text-align: justify;
        font-size: 120%;
        line-height: 40px;
    }
    
    .conten .contenedor
    {
        width: 85%;
        background: white;
    }
}













































@media (min-width:1250px)
{
    .todo
    {
        padding-left: 5%;
        padding-right: 5%;
    }

    .consejos p
    {
        text-align: justify;
        font-size: 120%;
    }
}












@media (min-width:1400px)
{
    .todo
    {
        padding-left: 8%;
        padding-right: 8%;
    }
}