/*font-family: 'Luckiest Guy', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Lato', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Boogaloo', cursive;
font-family: 'Fredoka One', cursive;*/




/*el pie de la web*/

.sociales
{
    position: absolute;
    width: 100%;
    height: 420px;
    padding-top: 25px;
    padding-bottom: 25px;

    background: black;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#redes
{
    width: 85%;
    height: 150px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#redes p
{
    margin-bottom: 30px;
    font-size: 27px;
    font-family: 'Boogaloo', cursive;
}

.iconos
{
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-around;
}

.iconos label
{
    cursor: pointer;
    font-size: 50px;
}

.iconos a
{
    color: white;
    cursor: pointer;
}



/*datos de la empresa que deben de saber*/
.contactos
{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

.contactos h3
{
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    font-family: 'Boogaloo', cursive;
}

.contactos li
{
    text-align: justify;
    line-height: 30PX;
    font-family: 'Cabin', sans-serif;
}

.datos
{
    padding: 10px;
    border-top: 1px solid white;
    padding: 20px;
}

















/*responsive desde black*/

@media (min-width:750px)
{
    .sociales
    {
        position: absolute;
        width: 100%;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;

        background: black;
        color: #fff;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 5.5%;
        padding-right: 2.5%;
    }

    #redes
    {
        width: 30%;
        height: 230px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #redes p
    {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .iconos
    {
        width: 90%;
        height: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .iconos label
    {
        cursor: pointer;
        font-size: 60px;
    }

    .iconos a
    {
        color: white;
        cursor: pointer;
    }



    /*datos de la empresa que deben de saber*/
    .contactos
    {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        height: 230px;
        width: 55%;
        border-left: 1px solid white;
    }

    .contactos h3
    {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .contactos li
    {
        text-align: justify;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 30px;
    }

    .datos
    {
        padding: 10px;
        border-top: 0px;
        padding: 20px;
    }

}







@media (min-width:960px)
{
    .sociales
    {
        position: absolute;
        width: 100%;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;

        background: black;
        color: #fff;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 5.5%;
        padding-right: 2.5%;
    }

    #redes
    {
        width: 30%;
        height: 230px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #redes p
    {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .iconos
    {
        width: 65%;
        height: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .iconos label
    {
        cursor: pointer;
        font-size: 60px;
    }

    .iconos a
    {
        color: white;
        cursor: pointer;
    }



    /*datos de la empresa que deben de saber*/
    .contactos
    {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        height: 230px;
        width: 55%;
    }

    .contactos h3
    {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .contactos li
    {
        text-align: justify;
        font-size: 20px;
        line-height: 30px;
    }

    .datos
    {
        padding: 20px;
    }

}

















@media (min-width:1000px)
{
    .sociales
    {
        position: absolute;
        width: 100%;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;

        background: black;
        color: #fff;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 7.5%;
        padding-right: 3.5%;
    }

    #redes
    {
        width: 25%;
        height: 230px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #redes p
    {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .iconos
    {
        width: 80%;
        height: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .iconos label
    {
        cursor: pointer;
        font-size: 60px;
    }

    .iconos a
    {
        color: white;
        cursor: pointer;
    }



    /*datos de la empresa que deben de saber*/
    .contactos
    {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        height: 230px;
        width: 55%;
    }

    .contactos h3
    {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .contactos li
    {
        text-align: justify;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 30px;
    }

    .datos
    {
        padding: 20px;
    }
}



















@media (min-width:1250px)
{
    .sociales
    {
        position: absolute;
        width: 100%;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;

        background: black;
        color: #fff;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 9.75%;
        padding-right: 9.2%;
    }

    #redes
    {
        width: 25%;
        height: 230px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #redes p
    {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .iconos
    {
        width: 70%;
        height: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .iconos label
    {
        cursor: pointer;
        font-size: 60px;
    }

    .iconos a
    {
        color: white;
        cursor: pointer;
    }



    /*datos de la empresa que deben de saber*/
    .contactos
    {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        height: 230px;
        width: 55%;
    }

    .contactos h3
    {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .contactos li
    {
        text-align: justify;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 30px;
    }

    .datos
    {
        padding: 20px;
    }
}




















@media (min-width:1600px)
{
    .sociales
    {
        position: absolute;
        width: 100%;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;

        background: black;
        color: #fff;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 13%;
        padding-right: 11.9%;
    }

    #redes
    {
        width: 30%;
        height: 230px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #redes p
    {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .iconos
    {
        width: 50%;
        height: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .iconos label
    {
        cursor: pointer;
        font-size: 60px;
    }

    .iconos a
    {
        color: white;
        cursor: pointer;
    }



    /*datos de la empresa que deben de saber*/
    .contactos
    {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        height: 230px;
        width: 55%;
    }

    .contactos h3
    {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .contactos li
    {
        text-align: justify;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 30px;
    }

    .datos
    {
        padding: 20px;
    }

}