/*fuentes para usar:

font-family: 'Jura', sans-serif;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Allerta', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Bad Script', cursive;*/





/*datos de la empresa que deben de saber*/

.deco
{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 10px;
}

.deco img
{
    width: 55px;
    height: 85px;
}

.direccion h3, .contacto h3, .horarios h3
{
    margin-bottom: 10px;
}

.direccion p, .contacto p
{
    line-height: 30px;
}

.horarios p
{
    text-align: left;
    line-height: 30px;
}

.direccion , .contacto , .horarios
{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}










/*el pie de la web*/

.sociales
{
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    background: rgba(131, 27, 27, 1);
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#redes
{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
}

#redes h3
{
    margin-bottom: 25px;
}

.iconos
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.iconos label
{
    cursor: pointer;
    font-size: 30px;
}

.iconos a
{
    color: white;
    cursor: pointer;
}
























/*responsive desde black*/

@media (min-width:1000px)
{
    footer
    {
        display: flex;
        justify-content: center;
    }

    .sociales
    {
        position: absolute;
        width: 90%;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;

        background: rgba(131, 27, 27, 1);
        color: #fff;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    .deco
    {
        display: none;
    }

    .direccion , .contacto , .horarios
    {
        padding-top: 0px;
        padding-left: 15px;
        padding-bottom: 0px;
        padding-right: 15px;
        border-bottom: 0px solid black;
        border-right: 1px solid black;
        width: 90%;
    }

    .direccion h3, .contacto h3, .horarios h3
    {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .direccion p, .contacto p
    {
        line-height: 30px;
        font-size: 15px;
        text-align: justify;
    }

    .horarios p
    {
        text-align: left;
        line-height: 30px;
        font-size: 15px;
    }

    #redes
    {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 0px;
        padding-left: 15px;
        width: 90%;
    }

    #redes h3
    {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .iconos
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .iconos label
    {
        cursor: pointer;
        font-size: 35px;
    }

    .iconos a
    {
        color: white;
        cursor: pointer;
        margin-right: 13px;
    }
}


