.banner
{
    height: 255px;
    margin-top: 80px;
}

.segimg
{
    display: none;
}

#slider
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slider ul
{
    padding: 0;
    height: 250px;

    display: flex;
    width: 400%;

    animation: cambio 20s infinite alternate;
}

#slider li
{
    width: 100%;
    height: 250px;
    list-style: none;
}

#slider img
{
    width: 100%;
    height: 100%;
}

@keyframes cambio
{
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}









/*haciendo responsive*/

@media (min-width:390px)
{
    .banner, #slider, #slider img
    {
        height: 260px;
    }
}

@media (min-width:410px)
{
    .banner, #slider, #slider img
    {
        height: 290px;
    }
}

@media (min-width:470px)
{
    .banner, #slider, #slider img
    {
        height: 320px;
    }
}

@media (min-width:530px)
{
    .banner, #slider, #slider img
    {
        height: 350px;
    }
}

@media (min-width:600px)
{
    .banner, #slider, #slider img
    {
        height: 380px;
    }
}

@media (min-width:650px)
{
    .banner, #slider, #slider img
    {
        height: 420px;
    }
}

@media (min-width:730px)
{
    .banner, #slider, #slider img
    {
        height: 460px;
    }
}

@media (min-width:780px)
{
    .banner, #slider, #slider img
    {
        height: 500px;
    }
}


@media (min-width:850px)
{
    .banner, #slider, #slider img
    {
        height: 550px;
    }

    .segimg
    {
        display: flex;
    }

    .primg
    {
        display: none;
    }
}

@media (min-width:930px)
{
    .banner, #slider, #slider img
    {
        height: 590px;
    }

    .segimg
    {
        display: flex;
    }

    .primg
    {
        display: none;
    }
}

@media (min-width:1000px)
{
    .banner
    {
        margin-top: 104px;
    }

    .banner, #slider, #slider img
    {
        height: 620px;
    }
}

@media (min-width:1250px)
{
    .banner, #slider, #slider img
    {
        height: 590px;
    }
}


@media (min-width:1600px)
{
    .banner, #slider, #slider img
    {
        height: 620px;
    }
}