/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"ChinaOne Normal";src:url("ChinaOne.eot?") format("eot"),url("ChinaOne.woff") format("woff"),url("ChinaOne.ttf") format("truetype"),url("ChinaOne.svg#ChinaOneNormal") format("svg");font-weight:normal;font-style:normal;}


/*.logo h1
{
font-size: 35px;
margin-left: 10px;
font-family: "ChinaOne Normal";
}*/